.navigation_bar {
  background-color: rgba(225, 241, 255, 0.684);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation_link {
  color: rgb(0, 102, 255);
  margin: 0 15px;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navigation_link:hover {
  transform: scale(1.25);
  color: rgb(60, 80, 208);
}

.home_page {
  background-color: rgb(41, 217, 217);
  height: 100vh;
  
}
